@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html,
body {
  font-family:"PT Sans", sans-serif;
}
/*
.wrapper {
  min-width: 1200px;
  padding: 0 40px;
}



.page-header {
  height: 64px;
  background-color: #ffffff;
  color: #000000;
}
*/
