@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* ======= BASE COLORS ======= */
  --color-black: rgba(0, 0, 0, 1); /* #000000 */
  --color-black-30: rgba(0, 0, 0, 0.3); /* #0000004D */
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-white: rgba(255, 255, 255, 1); /* #FFFFFF */
  --color-white-30: rgba(255, 255, 255, 0.3); /* #FFFFFF4D */
  --color-white-60: rgba(255, 255, 255, 0.6); /* #FFFFFF99 */
  --color-dark-gray: rgba(51, 51, 51, 1); /* #333333 */
  --color-light-gray: rgba(230, 230, 230, 1); /* #E6E6E6 */
  --color-pale-gray: rgba(242, 242, 242, 1); /* #F2F2F2 */

  /* Brown palette */
  --color-brown: rgba(117, 97, 87, 1); /* #756157 */
  --color-brown-dark: rgba(97, 80, 72, 1); /* #615048 */
  --color-brown-30: rgba(117, 97, 87, 0.3); /* #7561574D */

  /* Blue palette */
  --color-blue: rgba(130, 179, 211, 1); /* #82B3D3 */
  --color-blue-dark: rgba(104, 162, 202, 1); /* #68A2CA */
  --color-blue-light: rgba(131, 179, 211, 1); /* #83B3D3 */
  --color-blue-gray: rgba(63, 94, 114, 1); /* #3F5E72 */
  --color-blue-20: rgba(131, 179, 211, 0.2); /* #83B3D333 */
  --color-blue-30: rgba(104, 162, 202, 0.3); /* #68A2CA4D */
  --color-blue-10: rgba(131, 179, 211, 0.12); /* #83B3D31F */

  /* Green palette */
  --color-green: rgba(125, 181, 79, 1); /* #7DB54F */
  --color-green-dark: rgba(108, 158, 66, 1); /* #6C9E42 */

  /* Red palette */
  --color-red: rgba(255, 87, 87, 1); /* #FF5757 */
}

*:focus-visible {
  outline: 3px solid var(--color-blue-light);
  border-radius: 4px;
}

@supports not selector(:focus-visible) {
  *:focus {
    outline: 3px solid var(--color-blue-light);
    border-radius: 4px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-primary {
  color: var(--color-white);
  background-color: var(--color-brown);
}

.button.button-primary:hover {
  background-color: var(--color-brown-dark);
}

.button:active {
  color: var(--color-white-30);
}

.button:disabled {
  background-color: var(--color-light-gray);
  cursor: not-allowed;
}

.button-accent {
  color: var(--color-white);
  background-color: var(--color-green);
}

.button-accent:hover {
  background-color: var(--color-green-dark);
}

.filter__button-reset {
  color: var(--color-white);
  background-color: transparent;
}

.filter__button-reset:hover {
  color: var(--color-white-60);
}

.button-xxs {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
}

.button-xs {
  font-size: 16px;
  line-height: 20px;
}

.button-sm {
  font-size: 20px;
  line-height: 36px;
}

.bg-secondary {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.button.bg-secondary:hover {
  background-color: var(--color-blue-dark);
}

.bg-light-blue {
  background-color: var(--color-blue-10);
}

.bg-dark-blue {
  background-color: var(--color-blue-20);
}

.title-xxl {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.title-xl {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.title-lg {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.title-sm {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.title-reset {
  margin-block: 0;
}

.text-lead {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.text-sm {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
}

.text-secondary {
  color: var(--color-dark-gray);
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: var(--color-black);
  background-color: var(--color-pale-gray);
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  background-color: var(--color-white);
  box-shadow: 0 0 15px var(--color-black-20);
}

.header {
  display: flex;
  padding-inline: 70px;
  column-gap: 30px;
}

.header__logo {
  display: flex;
  align-items: start;
  flex-shrink: 0;
  margin-right: -2px;
  margin-bottom: -6px;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  display: flex;
  padding: 20px 16px;
  color: var(--color-black);
  text-decoration: none;
}

.nav-user__link {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  min-height: 64px;
  text-decoration: none;
}

.nav__link-favorite {
  position: relative;
}

.nav__badge {
  position: absolute;
  top: 17px;
  left: 22px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  background-color: var(--color-green);
  color: var(--color-white);
  border: none;
  border-radius: 50%;
  padding: 2px;
}

.header__button {
  min-width: 160px;
  margin-left: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 51px 82px;
  background-color: var(--color-blue-30);
  background-image: url("../images/divider.svg"),
    url("../images/index-hero.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
}

.hero__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
}

.titles__advantages {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-block: 69px;
}

.advantages__list,
.services__list {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  padding-block: 103px;
}

.advantages__item-highlight {
  display: flex;
  flex-grow: 1;
}

.content__img {
  margin: 0;
}

.items__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: calc(100% / 3);
  box-sizing: border-box;
  flex-grow: 1;
  text-align: center;
  gap: 60px;
}

.advantages__image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.services__item {
  gap: 30px;
  padding-block: 103px;
}

.services__titles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 64px;
}

.services__item-title {
  position: relative;
  padding-top: 103px;
}

.services__item-title::before {
  content: "";
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 75px;
  height: 72px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-50%);
}

.service__item-house::before {
  background-image: url("../images/house.svg");
}

.services__item-food::before {
  background-image: url("../images/food.svg");
}

.service__item-souvenirs::before {
  background-image: url("../images/souvenirs.svg");
}

.item-title {
  position: relative;
}

.item-title::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 85px;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: var(--color-black-30);
}

.highlight__item-title::after {
  background-color: var(--color-white-30);
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-block: 96px;
  gap: 20px;
  text-align: center;
}

.search__button {
  min-width: 376px;
  margin-top: 34px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  padding-block: 96px 104px;
  gap: 20px;
}

.subscribe__main {
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe__form {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

.subscribe__input {
  display: flex;
  align-items: center;
  min-width: 452px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: var(--color-pale-gray);
}

.subscribe__button {
  min-width: 232px;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.social__icon {
  fill: var(--color-blue);
}

.social__icon:hover {
  fill: var(--color-blue-dark);
}

.social__icon:active {
  fill: var(--color-blue-30);
}

.footer__phone {
  color: var(--color-black);
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__phone:hover {
  color: var(--color-brown);
}

.footer__phone:active {
  color: var(--color-brown-30);
}

.copyright__icon:hover {
  fill: var(--color-brown);
}

.copyright__icon:active {
  fill: var(--color-brown-30);
}

.page-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.page-header__title {
  color: var(--color-white);
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.breadcrumbs__link {
  display: flex;
  color: var(--color-white);
  text-decoration: none;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.3;
}

.breadcrumbs__link-index {
  padding-bottom: 2px;
}

.breadcrumbs__item {
  position: relative;
  font-size: 16px;
}

.breadcrumbs__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -13px;
  width: 8px;
  height: 10px;
  background-image: url("../images/arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  padding: 35px 70px 35px;
  gap: 40px;
  color: var(--color-white);
  background-image: url("../images/catalog-hero.jpg");
  background-color: var(--color-blue-30);
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px;
  gap: 40px;
}

.catalog__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.catalog__count {
  margin-inline: 0 auto;
}

.view__list {
  display: flex;
  gap: 8px;
}

.view__link {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  text-decoration: none;
}

.view__item {
  border: 2px var(--color-light-gray) solid;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.view__item-active {
  border-color: var(--color-black);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: none;
  padding: 0;
  padding-bottom: 35px;
  margin: 0;
}

.filter__title {
  margin-bottom: 32px;
}

.filter__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.control {
  display: flex;
  gap: 16px;
}

.control__input {
  position: relative;
  appearance: none;
  place-content: center;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  background-color: var(--color-white);
  border: none;
  border-radius: 4px;
  margin: 0;
}

.control__input-radio {
  border-radius: 50%;
}

.control__input:checked::after {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  mask-size: auto;
  mask-repeat: no-repeat;
  mask-position: bottom;
  background-color: var(--color-blue-gray);
}

.control__input-checkbox:checked::after {
  mask-image: url("../images/tick.svg");
}

.control__input-radio:checked::after {
  mask-image: url("../images/tick-ellipse.svg");
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.range__input {
  box-sizing: border-box;
  width: 143px;
  padding-block: 12px;
  border: none;
  border-radius: 4px;
}

.range__input-from {
  border-radius: 4px 0 0 4px;
}

.range__input-to {
  border-radius: 0 4px 4px 0;
}

.filter__buttons {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.filter__button-submit {
  min-width: 191px;
}

.filter__button-reset {
  min-width: 191px;
}

.sort__select {
  appearance: none;
  box-sizing: border-box;
  color: var(--color-dark-gray);
  min-width: 292px;
  padding: 14px 50px 14px 20px;
  border: none;
  box-shadow: inset 0 0 0 2px var(--color-light-gray);
  border-radius: 4px;
  outline: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.sort {
  position: relative;
}

.sort::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 7px;
  background-image: url("../images/arrow-bottom.svg");
  background-position: center;
  background-repeat: no-repeat;
  top: 22px;
  right: 21px;
}

.sort__select:hover {
  box-shadow: inset 0 0 0 2px var(--color-blue-dark);
}

.sort__select:disabled {
  box-shadow:0 0 0 2px var(--color-black-30);
  cursor: not-allowed;
}

.sort:has(.sort__select:disabled)::after {
    opacity: 0.3;
}

.control__label {
  line-height: 23px;
}

.hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.hotel {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 340px;
  padding: 20px;
  gap: 16px;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
}

.hotel__title {
  text-transform: none;
}

.card__button {
  width: 140px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
}

.hotel__link {
  color: var(--color-black);
  text-decoration: none;
  text-transform: none;
}

.hotel__rating-value {
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-pale-gray);
  margin-inline: auto 0;
}

.stars {
  position: relative;
}

.pagination__list {
  display: flex;
  gap: 8px;
}

.pagination__link-current {
  color: var(--color-black);
  background-color: var(--color-pale-gray);
}
