@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* ======= BASE COLORS ======= */
  --color-black: rgba(0, 0, 0, 1); /* #000000 */
  --color-black-30: rgba(0, 0, 0, 0.3); /* #0000004D */
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-white: rgba(255, 255, 255, 1); /* #FFFFFF */
  --color-white-30: rgba(255, 255, 255, 0.3); /* #FFFFFF4D */
  --color-white-60: rgba(255, 255, 255, 0.6); /* #FFFFFF99 */
  --color-dark-gray: rgba(51, 51, 51, 1); /* #333333 */
  --color-light-gray: rgba(230, 230, 230, 1); /* #E6E6E6 */
  --color-pale-gray: rgba(242, 242, 242, 1); /* #F2F2F2 */

  /* Brown palette */
  --color-brown: rgba(117, 97, 87, 1); /* #756157 */
  --color-brown-dark: rgba(97, 80, 72, 1); /* #615048 */
  --color-brown-30: rgba(117, 97, 87, 0.3); /* #7561574D */

  /* Blue palette */
  --color-blue: rgba(130, 179, 211, 1); /* #82B3D3 */
  --color-blue-dark: rgba(104, 162, 202, 1); /* #68A2CA */
  --color-blue-light: rgba(131, 179, 211, 1); /* #83B3D3 */
  --color-blue-gray: rgba(63, 94, 114, 1); /* #3F5E72 */
  --color-blue-20: rgba(131, 179, 211, 0.2); /* #83B3D333 */
  --color-blue-30: rgba(104, 162, 202, 0.3); /* #68A2CA4D */
  --color-blue-10: rgba(131, 179, 211, 0.12); /* #83B3D31F */

  /* Green palette */
  --color-green: rgba(125, 181, 79, 1); /* #7DB54F */
  --color-green-dark: rgba(108, 158, 66, 1); /* #6C9E42 */

  /* Red palette */
  --color-red: rgba(255, 87, 87, 1); /* #FF5757 */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-primary {
  color: var(--color-white);
  background-color: var(--color-brown);
}

.button-accent {
  color: var(--color-white);
  background-color: var(--color-green);
}

.filter__button-reset {
  color: var(--color-white);
  background-color: transparent;
}

.button-xxs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.button-xs {
  font-size: 16px;
  line-height: 20px;
}

.button-sm {
  font-size: 20px;
  line-height: 36px;
}

.bg-secondary {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.bg-light-blue {
  background-color: var(--color-blue-10);
}

.bg-dark-blue {
  background-color: var(--color-blue-20);
}

.title-xxl {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.title-xl {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.title-lg {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.title-sm {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.title-block {
  margin-block: 0;
}

.text-lead {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.text-secondary {
  color: var(--color-dark-gray);
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  color: var(--color-black);
  background-color: var(--color-pale-gray);
}

.page__wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  background-color: var(--color-white);
  box-shadow: 0 0 15px var(--color-black-20);
}

.header {
  display: flex;
  padding-inline: 70px;
  column-gap: 30px;
  height: 64px;
}

.header__logo {
  display: flex;
  align-items: start;
  flex-shrink: 0;
  margin-bottom: -6px;
  margin-right: -2px;
  z-index: 1;
}

.nav {
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 16px;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
}

.nav__link {
  display: flex;
  padding: 20px 16px;
  color: var(--color-black);
  text-decoration: none;
}

.nav__badge {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}

.header__button {
  width: 160px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hero {
  background-color: var(--color-blue-30);
  background-image: url("../images/divider.svg"),
    url("../images/index-hero.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 51px 82px;
}

.hero__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
}

.titles__advantages {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-block: 69px;
}

.advantages__list,
.services__list {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item,
.services__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  width: 400px;
  flex-grow: 1;
  padding: 103px 85px;
  box-sizing: border-box;
}

.advantages__item-highlight {
  display: flex;
}

.content__img {
  display: contents;
}

.advantages__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
  width: 400px;
}

.advantages__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.services__titles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 64px;
}

.search {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-block: 96px;
  gap: 20px;
}

.search__button {
  width: 376px;
  margin-top: 34px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  padding-block: 96px 104px;
  gap: 20px;
}

.subscribe__main {
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe__form {
  display: flex;
  margin-top: 34px;
  justify-content: center;
}

.subscribe__input {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 452px;
  background-color: var(--color-pale-gray);
}

.subscribe__button {
  width: 232px;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-block: 40px 30px;
}

.footer__phone {
  color: var(--color-black);
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.page-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.page-header__title {
  color: var(--color-white);
}

.breadcrumbs__link {
  color: var(--color-white);
  text-decoration: none;
}

.breadcrumbs__item {
  font-size: 16px;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  padding: 70px;
  padding-top: 35px;
  color: var(--color-white);
  background-image: url("../images/catalog-hero.jpg");
  background-color: var(--color-blue-30);
  background-size: cover;
  background-repeat: no-repeat;
  gap: 40px;
}

.catalog {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px 70px;
  gap: 40px;
}

.catalog__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort__select {
  width: 292px;
  padding: 14px 20px;
}

.view__list {
  display: flex;
}

.filter__group {
  display: flex;
  flex-direction: column;
  border: none;
}

.filter__title {
  margin-bottom: 32px;
}

.range__input {
  box-sizing: border-box;
  width: 143px;
  padding-block: 12px;
  border-radius: 4px;
  border: none;
}

.range__input-from {
  border-radius: 4px 0 0 4px;
}

.range__input-to {
  border-radius: 0 4px 4px 0;
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.filter__button-submit {
  width: 191px;
}

.filter__button-reset {
  width: 191px;
}

.control__label {
  line-height: 23px;
}

.hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px 20px;
}

.hotel {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  box-sizing: border-box;
  border: 1px solid var(--color-light-gray);
  width: 340px;
  padding: 20px;
  gap: 16px;
}

.card__button {
  width: 140px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
}

.hotel__link {
  text-transform: none;
  text-decoration: none;
  color: var(--color-black);
}

.hotel__rating-value {
  background-color: var(--color-pale-gray);
}

.pagination__list {
  display: flex;
  gap: 8px;
}

.pagination__link-current {
  color: var(--color-black);
  background-color: var(--color-pale-gray);
}
